@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f766e;
  background-image: radial-gradient(circle at top, #115e59, #042f2e 70%);
}
